.tip {
    background-color: white;
    height: 500px;
    width: 1000px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tip_2 {
    background-color: crimson;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.tipp {
    background-color: white;
    height: 500px;
    width: 1000px;
    border: 2px solid black;
    
}

.tipp_2 {
    background-color: crimson;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 675px; left: 400px;
    border-radius: 100%;
}